*{
	margin: 0;
	padding: 0;
	--main-bg-color: #1E2525;
	--main-font-color: #EFEDEB;
	--img-height: 180px;
	--img-width: 180px;
}

html, body{
	height: 100vh;
	width: 100%;
	color: var(--main-font-color);
	font-family: "Hannari", serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 5px;
	background: var(--main-bg-color);
}

a{
	color: var(--main-font-color);
	text-decoration: none;
	font-weight: 400;
}

.f_container{
	height: 100%;
	display: flex;
}

.f_column_container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.top_left{
	height: 100%;
	width: 300px;
}

.top_right{
	background-image: url("../image/top.png");
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

.logo_img{
	padding-top: 30px;
	width: 100px;
	height: auto;
}

.text_center{
	text-align: center;
}

.vertical_justify_list{
	-ms-writing-mode: tb-rl;
 	writing-mode: vertical-rl;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	width: 100%;
	padding-right: 100px;
}

.top_nav{
	padding: 50px 30px;
}

.top_bottom{
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	padding-bottom: 20px;
}

#header{
	display: flex;
	text-align: center
	align-items:flex-end;
	justify-content: space-between;
	padding: 10px;
}

#header li{
	display: inline-block;
	padding-left: 10px;
}

.header_logo, .header_logo_img{
	width: 50px;
	height: auto;
}

.header_menu{
	display: flex;
	align-items: center;
}

#pan_list{
	padding-left: 10px;
	background: #404040;
}

.main_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 90%;
}

.content{
	padding-top: 60px;
	width: 900px;
}

.pic-content{
	width: 900px;
	height: auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.sentense{
	margin-right: 21px;
	margin-left: 21px;
}

.profile_txt{
	height: 300px;
}

.profile_txt img{
	float: right;
	height: 300px;
}

.img-item{
	padding: 60px;
}
.img-item,img{
	height: var(--img-height);
	width: var(--img-width);
}

.form-item{
	margin-bottom:50px;
}

footer{
	border-top: 5px solid #404040;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

input, label{
	display: block;
}

input{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size:1.5rem;
	background: var(--main-font-color);
}

textarea{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size:1.5rem;
	background: var(--main-font-color);
}

button{
	font-size: 1rem;
	letter-spacing: 3px;
	padding: 10px 30px;
	background: #248;/*#DA7400; */
	border-style: none;
	color: var(--main-font-color);
}
