*{
	margin: 0;
	padding: 0;
	--main-bg-color: #000000;
	--main-font-color: #EFEDEB;
	--panlist-bg-color: #202020;
	--card-border-color: #000000;
	--footer-line-color: #202020;
	--img-height: 180px;
	--img-width: 180px;
}

html, body{
	height: 100vh;
	width: 100%;
	color: var(--main-font-color);
	font-family: "Hannari", serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 5px;
	background: var(--main-bg-color);
}

a{
	color: var(--main-font-color);
	text-decoration: none;
	font-weight: 400;
}

.f_container{
	height: 100%;
	display: flex;
}

.f_column_container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.top_left{
	height: 100%;
	width: 300px;
}

.top_right{
	background-image: url("../image/top.png");
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

.logo_img{
	padding-top: 30px;
	width: 100px;
	height: auto;
}

.text_center{
	text-align: center;
}

.vertical_justify_list{
	-ms-writing-mode: tb-rl;
 	writing-mode: vertical-rl;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	width: 100%;
	/* padding-right: 80px; */
}

.top_nav{
	padding: 50px 30px;
}
.top_nav a:hover{
	text-shadow: 0 0 30px var(--main-font-color);
	/* color:#FFDC8C; 	/*リンクにマウスが乗ったら背景色を変更する*/ */
}

.top_bottom{
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	padding-bottom: 20px;
}

#header{
	display: flex;
	text-align: center
	align-items:flex-end;
	justify-content: space-between;
	padding: 10px;
}

#header li{
	display: inline-block;
	padding-left: 10px;
}

.header_logo, .header_logo_img{
	width: 50px;
	height: auto;
}

.header_menu{
	display: flex;
	align-items: center;
}

#pan_list{
	padding-left: 10px;
	background: var(--panlist-bg-color);
}

.main_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 90%;
}

.content{
	padding-top: 60px;
	width: 100%;
}

.pic-content{
	width: 900px;
	height: auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.sentense{
	margin-right: 21px;
	margin-left: 21px;
	display:flex;
	justify-content: space-between;
}

.sns_sentense{
	margin-right: 21px;
	margin-left: 21px;
	margin-top: 30px;
}

.profile_txt{
	height: 300px;
}

.profile_txt img{
	float: right;
	height: 300px;
	width: auto;
}

.img-item{
	padding: 60px;
}
.img-item,img{
	height: var(--img-height);
	width: var(--img-width);
}

.form-item{
	margin-bottom:50px;
}

footer{
	border-top: 5px solid var(--footer-line-color);
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

input, label{
	display: block;
}

input{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size:1.5rem;
	background: var(--main-font-color);
}

textarea{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size:1.5rem;
	background: var(--main-font-color);
}

button{
	font-size: 1rem;
	letter-spacing: 3px;
	padding: 10px 30px;
	background: #248;/*#DA7400; */
	border-style: none;
	color: var(--main-font-color);
}

.card-shadow{
	/* border-radius: 2px; */
	border:1px solid var(--card-border-color);
	box-shadow: 5px 8px 20px rgba(255,255,255,0.25);
}

@media (max-width: 500px) {
	html, body{
		height: 100vh;
		width: 100%;
		padding: 0;
		margin: 0;
		letter-spacing:1px;
	}

	.f_column_container_narrow{
		flex-direction: column-reverse;
		align-items: center;
	}
	.top_nav{
		padding-top: 30px;
		padding-bottom:70px;
	}



	.top_right{
		height:350px;
	}
	.vertical_justify_list{
		pdding:auto;
	}

	.content{
		padding: 5px;
	}
	.sentense{
		margin: 0;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.sentense_right{
		margin: 10px;
		padding: 5px;
		width: 100%;
		height: 400px;
	}
	.sentense_left{
		height: 400px;
	}
	.profile_txt{
		height: 300px;
	}

	.profile_txt img{
		float: none;
		height: 300px;
		width: auto;
	}
	.main_container{
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 90%;
	}


}
